.swiper-bullet {
	height: 0.25rem;
	width: 0.25rem;
	opacity: 0.3;
	background-color: black;
	display: inline-block;
	border-radius: 100%;
	transition: all 0.2s ease;
	cursor: pointer;
}
/* Adjust to always display swiper correctly on front-end when in designer grid or flex column is used for visibility */
.swiper-wrapper {
	flex-direction: row !important;
	display: flex !important;
	gap: 0 !important;
}

.features-scroll_modal-btn,
.mobile-features_modal-btn {
	animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(202, 200, 242, 0.4);
	}
	100% {
		box-shadow: 0 0 0 10px rgba(202, 200, 242, 0);
	}
}

.swiper-bullet.is-active {
	opacity: 1;
	height: 0.375rem;
	width: 0.375rem;
}

[data-cursor-animation="trigger"]:hover {
	cursor: none;
}

/* Reasons slider  */

.swiper-slide {
	height: auto !important;
}

.reasons-slider_btn-next.is-disabled .reasons-slider_nav-icon,
.reasons-slider_btn-prev.is-disabled .reasons-slider_nav-icon {
	color: var(--text-colors--medium-grey);
}

/* Quote modal */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
	-webkit-appearance: none; /* Chrome, Safari, Edge */
	appearance: none; /* Standard property */
}

.form_select-toggle.w--open .form_select-icon {
	transform: rotate(180deg);
}

.quote-modal_qty-field {
	border: none;
	background-color: transparent;
	width: 2rem;
	height: 2rem;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.quote-modal_product.has-qty {
	border-color: var(--border-colors--medium-grey);
}

/* Accordions */

[data-accordion="trigger"]:hover .accordion_icon-wrap {
	background-color: var(--background-colors--lavender);
}

[data-accordion="accordion-item"].is-open .accordion_icon-wrap {
	background-color: var(--background-colors--grey);
}

[data-accordion="accordion-item"].is-open .accordion_icon-wrap.is-grey {
	background-color: var(--background-colors--medium-grey);
}

[data-accordion="accordion-item"].is-open .accordion_line.is-vertical {
	display: none;
}

.product-spec_tech_trigger-wrap:hover .product-spec_accordion_btn {
	background-color: var(--background-colors--lavender);
}

.product-spec_tech_accordion-item.is-open .product-spec_accordion_line.is-vertical,
.product-spec_accordion_item.is-open .product-spec_accordion_line.is-vertical {
	display: none;
}
.product-spec_tech_accordion-item.is-open .product-spec_accordion_btn,
.product-spec_accordion_item.is-open .product-spec_accordion_btn {
	background-color: var(--background-colors--medium-grey);
}
.product-spec_tech_accordion-item.is-open .product-spec_tech_trigger-wrap {
	background-color: var(--background-colors--grey);
}

.product-mobility_accordion_item.is-open .product-mobility_accordion_wrap {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--background-colors--white-asparagus);
	border-radius: 0.625rem;
}
.product-mobility_accordion_item.is-open {
	border-bottom: none;
	background-color: white;
}

.product-mobility_accordion_item.is-open .product-mobility_accordion_wrap {
	color: var(--text-colors--black);
}

.product-mobility_accordion_item.is-open .product-mobility_accordion_line.is-vertical {
	display: none;
}

@media only screen and (min-width: 992px) {
	.product-faq_accordion_item:hover .product-faq_accordion_btn,
	.faq-list_accordion_item:hover .faq-list_accordion_btn {
		background-color: var(--background-colors--lavender) !important;
	}
}

@media only screen and (max-width: 767px) {
	.product-spec_accordion_item.is-open .product-spec_accordion_title-wrap {
		border-bottom: 1px solid var(--border-colors--grey);
	}

	.product-spec_tech_accordion-item.is-open {
		background-color: var(--background-colors--grey);
	}
	.product-spec_tech_accordion-item.is-open .product-spec_tech_title-wrap {
		border-color: var(--border-colors--medium-grey);
	}
}

.product-faq_accordion_item-wrap.is-open .product-faq_accordion_btn,
.faq-list_accordion_item-wrap.is-open .faq-list_accordion_btn {
	background-color: var(--background-colors--grey);
}
.product-faq_accordion_item-wrap.is-open .product-faq_accordion_btn-line.is-vertical,
.faq-list_accordion_item-wrap.is-open .faq-lsit_accordion_btn-line.is-vertical {
	display: none;
}

/* Product features slider */

.product-features_nav-btn.is-disabled {
	display: none;
}

.header[data-header-sticky="false"] {
	position: relative;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	top: 0rem;
	left: 0rem;
	right: 0rem;
}

@media only screen and (max-width: 991px) {
	.header[data-header-sticky="false"] {
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 767px) {
	.header[data-header-sticky="false"] {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

/* MOBILE MENU */
.mobile-menu_accordion-item.is-open .mobile-menu_accordion-btn-line.is-vertical {
	display: none;
}
.mobile-menu_accordion-item.is-open .mobile-menu_accordion-trigger.has-border-bottom {
	border-bottom: none;
}

.mobile-menu_wrap {
	overflow: auto; /* Enable scrolling */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.mobile-menu_wrap::-webkit-scrollbar {
	display: none;
}

/* PRODUCT OTHER PRODUCTS */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section_product-other .products_collection-item:nth-child(3) {
		display: none;
	}
}

/* ROTATING TEXT */

.product-hero_rotating-text:not(:first-child),
.product-hero_rotating-text:not(:first-child) {
	opacity: 0;
}

.product-hero_rotating-text:first-child {
	position: static;
}

/* FORM VALIDATION */
.form_checkbox-wrap:hover:not(:has(.form_checkbox-url:hover)) .form_checkbox:not(.w--redirected-checked) {
	border-style: solid;
	border-color: var(--border-colors--medium-grey);
}

form .error:not(.w-select) {
	color: #a5565a;
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

form .checkbox-error {
	border: 1px solid #a5565a !important;
	background-color: #f0d7d7 !important;
}

/* HOME USAGE HOVER */

.home-usage_headings-wrap h3:not(:first-child) {
	opacity: 0.25;
}

.home-usage_headings-wrap .no-hover {
	pointer-events: none;
}

/* LENIS */

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

/* HUBSPOT */
#hubspot-messages-iframe-container {
	z-index: 200 !important;
}

/* PRODUCTS LIST */

.products_item:hover .products_image,
.header_mega_product-link:hover .header_mega_product-img {
	transform: scale(1.1);
}

/* CookieYES */
.cky-box-bottom-right {
	bottom: 1.5rem !important;
	right: 1.5rem !important;
}

.cky-consent-container {
	min-width: 28.3125rem !important;
}

.cky-consent-container .cky-consent-bar {
	border-radius: 8px !important;
	padding: 1.25rem !important;
}

.cky-notice .cky-title {
	margin-bottom: 0.25rem !important;
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	font-weight: 400 !important;
}

.cky-notice-des,
.cky-notice-des * {
	font-size: 0.875rem !important;
	line-height: 1.25rem !important;
}

.cky-notice-btn-wrapper {
	margin-top: 1.25rem !important;
	flex-direction: row-reverse !important;
	justify-content: start !important;
	column-gap: 1rem !important;
}

.cky-btn {
	font-size: 0.875rem !important;
	margin: 0px !important;
	line-height: 1.25rem !important;
	padding: 0.375rem 0.625rem !important;
	font-weight: 400 !important;
	border-radius: 0.25rem !important;
	flex: none !important;
}

.cky-btn:hover {
	opacity: unset !important;
}

.cky-btn-customize {
	padding: 0px !important;
	line-height: 1.25rem !important;
}

.cky-modal {
	border-radius: 10px 0 0 10px !important;
}

.cky-preference-center {
	width: 50vw !important;
	padding: 2rem !important;
	overflow: auto !important;
}

.cky-preference-header {
	padding: unset !important;
	display: grid !important;
	grid-template-columns: repeat(6, 1fr) !important;
	gap: 1.25rem !important;
}

.cky-preference-header .cky-preference-title {
	font-size: 2rem !important;
	line-height: 2.5rem !important;
	font-weight: 400 !important;
	grid-column: 3 / 7 !important;
}

.cky-preference-header .cky-btn-close {
	grid-column: 1 / 2 !important;
	grid-row: 1 !important;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: start !important;
	height: auto !important;
	align-self: start;
}

.cky-btn-close img {
	width: 1.5rem !important;
	height: 1.5rem !important;
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cky-btn-close:hover img {
	transform: rotate(90deg);
}

.cky-preference-body-wrapper {
	padding: unset !important;
	overflow: unset !important;
}

.cky-preference-content-wrapper {
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	font-weight: 400 !important;
	display: grid !important;
	grid-template-columns: repeat(6, 1fr) !important;
	gap: 1.25rem !important;
	padding: 0.5rem 0 5.75rem 0 !important;
}
.cky-preference-content-wrapper p {
	grid-column: 3 / 7 !important;
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	font-weight: 400 !important;
}

.cky-always-active {
	display: none !important;
}

.cky-accordion-wrapper {
	display: flex !important;
	flex-direction: column !important;
	margin-bottom: 0 !important;
}

.cky-accordion .cky-accordion-item {
	margin-top: unset !important;
	padding: 1.5rem 0 !important;
	border-top: 1px solid var(--border-colors--dark-grey) !important;
}
.cky-accordion:last-child .cky-accordion-item {
	border-bottom: 1px solid var(--border-colors--dark-grey) !important;
}

.cky-accordion-header .cky-accordion-btn {
	font-weight: 400 !important;
	font-size: 1.25rem !important;
	line-height: 1.75rem !important;
}

.cky-accordion-header-des {
	font-size: 1rem !important;
	font-weight: 400 !important;
	line-height: 1.5rem !important;
	margin: 0.5rem 0 0 0 !important;
}

.cky-switch input[type="checkbox"] {
	border-radius: 0.25rem !important;
	height: 24px !important;
	width: 46px !important;
}

.cky-switch input[type="checkbox"]:before {
	background-color: var(--background-colors--medium-grey) !important;
	border-radius: 0.125rem !important;
	width: 20px !important;
	height: 20px !important;
}

.cky-switch input[type="checkbox"]:checked:before {
	-webkit-transform: translateX(22px) !important;
	-ms-transform: translateX(22px) !important;
	transform: translateX(22px) !important;
	background-color: white !important;
}

.cky-footer-shadow {
	display: none !important;
}

.cky-prefrence-btn-wrapper {
	padding: 2rem 0 0 0 !important;
	display: flex !important;
	flex-direction: row-reverse !important;
	column-gap: 1rem !important;
	align-items: center !important;
}
.cky-prefrence-btn-wrapper .cky-btn {
	width: auto !important;
	font-size: 1rem !important;
}

.cky-btn.cky-btn-preferences {
	padding: 0 !important;
}

.video-placeholder-normal {
	display: none !important;
}

[data-cky-tag="detail-powered-by"] {
	display: none !important;
}

@media only screen and (max-width: 767px) {
	.cky-box-bottom-right {
		bottom: 0rem !important;
		right: 0rem !important;
	}
	.cky-consent-container {
		width: 100% !important;
		min-width: unset !important;
	}
	.cky-preference-center {
		width: 100% !important;
		padding: 1.25rem !important;
	}
	.cky-preference-header .cky-preference-title {
		font-size: 1.5rem !important;
		line-height: 2rem !important;
		align-self: start !important;
	}
	.cky-btn-close {
		align-self: end !important;
	}
	.cky-preference-header {
		display: flex !important;
		flex-direction: column-reverse !important;
	}
	.cky-preference-content-wrapper {
		display: block !important;
		padding-bottom: 2rem !important;
	}
	.cky-accordion-header .cky-accordion-btn {
		font-size: 1rem !important;
		line-height: 1.5rem !important;
	}

	.cky-accordion .cky-accordion-item {
		padding: 1.25rem 0 !important;
	}
	.cky-prefrence-btn-wrapper {
		display: flex !important;
		flex-direction: column !important;
		row-gap: 1rem !important;
	}
}

@media only screen and (max-width: 440px) {
	.cky-custom-brand-logo-wrapper,
	.cky-notice .cky-title,
	.cky-notice-des,
	.cky-notice-btn-wrapper {
		padding: unset !important;
	}
	.cky-btn {
		width: unset !important;
	}
	.cky-notice-btn-wrapper {
		flex-direction: row !important;
	}
}

/* Anchor FAQ links */

.faq-list_nav-link.is-current {
	background-color: var(--background-colors--white);
	color: var(--text-colors--black);
}

/* Specific Horizontal Scroll Sections */
.faq-list_nav-wrap {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

.faq-list_nav-wrap::-webkit-scrollbar {
	height: 0; /* Chrome, Safari */
}

/* About us cards */

.about-cards_card {
	box-shadow: 0px 0px 16px 0px #00000008;
}

/* About us values list */

.about-values_list_item.is-active .about-values_list_title,
.about-values_list_item.is-active .about-values_list_description {
	opacity: 1;
}

.about-values_list_title {
	transition: opacity 0.3s ease;
}

.about-values_list_item.is-active .about-values_list_description {
	transition: opacity 0.5s ease;
}

.about-values_list_item.no-hover {
	pointer-events: none;
}

/* About values slider */

.about-values_slider_nav-btn.is-disabled {
	color: var(--text-colors--dark-grey);
}

/* Showroom */

[data-showroom-search="item"].filter-hide {
	display: none;
}

[data-showroom-search="item"]:first-child {
	border: none;
}

@media only screen and (max-width: 767px) {
	[data-showroom-search="item"].load-more-hide {
		display: none;
	}
}

.showroom_list_search-wrap .showroom__list_search-input:not(:placeholder-shown) ~ .showroom_list_search-icon {
	color: black;
}

.showroom_list_search-wrap .showroom__list_search-input:not(:placeholder-shown) ~ .showroom_list_search-clear-btn {
	display: block;
}

.showroom_map_marker-wrap,
.showroom_map_cluster-marker {
	background-color: var(--background-colors--lavender);
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.showroom_map_marker-icon {
	width: 1rem;
	height: 1rem;
	color: var(--text-colors--black);
}

.showroom_list_icon-wrap,
[data-showroom-marker-item],
.showroom_map_marker-icon,
.showroom_list_marker-icon {
	transition: all 0.2s ease;
}

[data-showroom-list-item].is-hovered .showroom_list_icon-wrap,
.showroom_list_item:hover .showroom_list_icon-wrap,
.showroom_map_marker-wrap:hover,
[data-showroom-marker-item].is-hovered,
[data-showroom-marker-item].is-open {
	background-color: var(--background-colors--black);
}

[data-showroom-list-item].is-hovered .showroom_list_marker-icon,
.showroom_list_item:hover .showroom_list_marker-icon,
.showroom_map_marker-wrap:hover .showroom_map_marker-icon,
[data-showroom-marker-item].is-hovered .showroom_map_marker-icon,
[data-showroom-marker-item].is-open .showroom_map_marker-icon {
	color: var(--text-colors--white);
}

.showroom_map_cluster-marker.is-hovered,
.showroom_map_cluster-marker:hover {
	background-color: var(--background-colors--black);
	color: var(--text-colors--white);
}

/* Google maps */

.gm-style-iw-chr {
	display: none;
}

.gm-style .gm-style-iw-c {
	padding: 1rem !important;
	max-height: none !important;
	max-width: 11.5rem !important;
	border-radius: 4px !important;
	box-shadow: 0px 8px 16px 0px #0000000d !important;
	transform: translate3d(-12%, -100%, 0) !important;
}

.gm-style-iw-d {
	overflow: auto !important;
}

.gm-style .gm-style-iw-tc::after,
.gm-style .gm-style-iw-tc {
	width: 0.625rem !important;
	height: 0.375rem !important;
}

/* Knowledge Downloads */

@media only screen and (min-width: 992px) {
	.knowledge-downloads_list-col .knowledge-downloads_item:first-child {
		padding-top: 0;
	}
}

.knowledge-downloads_list-col .knowledge-downloads_item:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.knowledge-downloads_list-col .knowledge-downloads_item:hover .knowledge-downloads_icon-wrap {
	background-color: var(--background-colors--lavender);
}

/* Client stories */

.stories-list_radio-wrap.fs-cmsfilter_active {
	background-color: var(--background-colors--light-gray);
	color: var(--text-colors--black);
}

.stories-list_filters-wrap {
	overflow: auto; /* Enables scrolling */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.stories-list_filters-wrap::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge */
}

/* Blogs & articles */

.blogs-list_radio-wrap.fs-cmsfilter_active {
	background-color: var(--background-colors--light-gray);
	color: var(--text-colors--black);
}

.blogs-list_filters-wrap {
	overflow: auto; /* Enables scrolling */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.blogs-list_filters-wrap::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge */
}

li::marker {
	font-size: 0.875rem;
}

/* Knowledge blocks */

.knowledge-block_download .knowledge-block_download_item:last-child {
	padding-bottom: 0;
}

.knowledge-block_download_item:hover .knowledge-block_download_icon-wrap {
	background-color: var(--background-colors--lavender);
}

.knowledge-block_accordion .knowledge-block_accordion_item-wrap:last-child {
	padding-bottom: 0;
}

/* Downloads */

.downloads-list_section-block .downloads-list_item:last-child {
	padding-bottom: 0;
}

.downloads-list_item:hover .downloads-list_icon-wrap {
	background-color: var(--background-colors--lavender);
}

.downloads-list_nav-link.is-current {
	background-color: var(--background-colors--white);
	color: var(--text-colors--black);
}
