.swiper-bullet {
	height: 0.25rem;
	width: 0.25rem;
	opacity: 0.3;
	background-color: black;
	display: inline-block;
	border-radius: 100%;
	transition: all 0.2s ease;
	cursor: pointer;
}
/* Adjust to always display swiper correctly on front-end when in designer grid or flex column is used for visibility */
.swiper-wrapper {
	flex-direction: row !important;
	display: flex !important;
	gap: 0 !important;
}

.features-scroll_modal-btn,
.mobile-features_modal-btn {
	animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px rgba(202, 200, 242, 0.4);
	}
	100% {
		box-shadow: 0 0 0 10px rgba(202, 200, 242, 0);
	}
}

.swiper-bullet.is-active {
	opacity: 1;
	height: 0.375rem;
	width: 0.375rem;
}

[data-cursor-animation="trigger"]:hover {
	cursor: none;
}

/* Reasons slider  */

.swiper-slide {
	height: auto !important;
}

.reasons-slider_btn-next.is-disabled .reasons-slider_nav-icon,
.reasons-slider_btn-prev.is-disabled .reasons-slider_nav-icon {
	color: var(--text-colors--medium-grey);
}

/* Quote modal */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.form_select-toggle.w--open .form_select-icon {
	transform: rotate(180deg);
}

.quote-modal_qty-field {
	border: none;
	background-color: transparent;
	width: 2rem;
	height: 2rem;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.quote-modal_product.has-qty {
	border-color: var(--border-colors--medium-grey);
}

/* Accordions */

.product-spec_tech_accordion-item.is-open .product-spec_accordion_line.is-vertical,
.product-spec_accordion_item.is-open .product-spec_accordion_line.is-vertical {
	display: none;
}
.product-spec_tech_accordion-item.is-open .product-spec_accordion_btn,
.product-spec_accordion_item.is-open .product-spec_accordion_btn {
	background-color: var(--background-colors--medium-grey);
}
.product-spec_tech_accordion-item.is-open .product-spec_tech_trigger-wrap {
	background-color: var(--background-colors--grey);
}

.product-mobility_accordion_item.is-open .product-mobility_accordion_wrap {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--background-colors--white-asparagus);
	border-radius: 0.625rem;
}
.product-mobility_accordion_item.is-open {
	border-bottom: none;
	background-color: white;
}

.product-mobility_accordion_item.is-open .product-mobility_accordion_wrap {
	color: var(--text-colors--black);
}

.product-mobility_accordion_item.is-open .product-mobility_accordion_line.is-vertical {
	display: none;
}

@media only screen and (min-width: 992px) {
	.product-faq_accordion_item:hover .product-faq_accordion_btn {
		background-color: var(--background-colors--lavender) !important;
	}
}

@media only screen and (max-width: 767px) {
	.product-spec_accordion_item.is-open .product-spec_accordion_title-wrap {
		border-bottom: 1px solid var(--border-colors--grey);
	}

	.product-spec_tech_accordion-item.is-open {
		background-color: var(--background-colors--grey);
	}
	.product-spec_tech_accordion-item.is-open .product-spec_tech_title-wrap {
		border-color: var(--border-colors--medium-grey);
	}
}

.product-faq_accordion_item-wrap.is-open .product-faq_accordion_btn {
	background-color: var(--background-colors--grey);
}
.product-faq_accordion_item-wrap.is-open .product-faq_accordion_btn-line.is-vertical {
	display: none;
}

/* Product features slider */

.product-features_nav-btn.is-disabled {
	display: none;
}

.header[data-header-sticky="false"] {
	position: relative;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	top: 0rem;
	left: 0rem;
	right: 0rem;
}

@media only screen and (max-width: 991px) {
	.header[data-header-sticky="false"] {
		margin-top: 2rem;
	}
}

@media only screen and (max-width: 767px) {
	.header[data-header-sticky="false"] {
		margin-top: 0.5rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

/* MOBILE MENU */
.mobile-menu_accordion-item.is-open .mobile-menu_accordion-btn-line.is-vertical {
	display: none;
}
.mobile-menu_accordion-item.is-open .mobile-menu_accordion-trigger.has-border {
	border: none;
}

.mobile-menu_wrap {
	overflow: auto; /* Enable scrolling */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}

.mobile-menu_wrap::-webkit-scrollbar {
	display: none;
}

/* PRODUCT OTHER PRODUCTS */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section_product-other .products_collection-item:nth-child(3) {
		display: none;
	}
}

/* ROTATING TEXT */

.product-hero_rotating-text:not(:first-child),
.product-hero_rotating-text:not(:first-child) {
	opacity: 0;
}

.product-hero_rotating-text:first-child {
	position: static;
}

/* TESTIMONIAL SLIDES */
.label.is-fintech {
	background-color: #f0d7d7;
	color: #a5565a;
}
.label.is-co-working {
	background-color: #dee3ed;
	color: #41597c;
}
.label.is-corporate-hq {
	background-color: #e8efbd;
	color: #626c2c;
}

/* FORM VALIDATION */

form .error:not(.w-select) {
	color: #a5565a;
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

form .checkbox-error {
	border: 1px solid #a5565a !important;
	background-color: #f0d7d7 !important;
}

/* HOME USAGE HOVER */

.home-usage_headings-wrap h3:not(:first-child) {
	opacity: 0.25;
}

.home-usage_headings-wrap .no-hover {
	pointer-events: none;
}

/* LENIS */

html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-smooth iframe {
	pointer-events: none;
}

/* HUBSPOT */
#hubspot-messages-iframe-container {
	z-index: 80 !important;
}

/* PRODUCTS LIST */

.products_item:hover .products_image,
.header_mega_product-link:hover .header_mega_product-img {
	transform: scale(1.1);
}

/* CookieYES */
.cky-box-bottom-right {
	bottom: 1.5rem !important;
	right: 1.5rem !important;
}

.cky-consent-container {
	min-width: 28.3125rem !important;
}

.cky-consent-container .cky-consent-bar {
	border-radius: 8px !important;
	padding: 1.25rem !important;
}

.cky-notice .cky-title {
	margin-bottom: 0.25rem !important;
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	font-weight: 400 !important;
}

.cky-notice-des,
.cky-notice-des * {
	font-size: 0.875rem !important;
	line-height: 1.25rem !important;
}

.cky-notice-btn-wrapper {
	margin-top: 1.25rem !important;
	flex-direction: row-reverse !important;
	justify-content: start !important;
	column-gap: 1rem !important;
}

.cky-btn {
	font-size: 0.875rem !important;
	margin: 0px !important;
	line-height: 1.25rem !important;
	padding: 0.375rem 0.625rem !important;
	font-weight: 400 !important;
	border-radius: 0.25rem !important;
	flex: none !important;
}

.cky-btn-customize {
	padding: 0px !important;
}

.cky-modal {
	border-radius: 10px 0 0 10px !important;
}

.cky-preference-center {
	width: 50vw !important;
	padding: 2rem !important;
	overflow: auto !important;
}

.cky-preference-header {
	padding: unset !important;
	display: grid !important;
	grid-template-columns: repeat(6, 1fr) !important;
	gap: 1.25rem !important;
}

.cky-preference-header .cky-preference-title {
	font-size: 2rem !important;
	line-height: 2.5rem !important;
	font-weight: 400 !important;
	grid-column: 3 / 7 !important;
}

.cky-preference-header .cky-btn-close {
	grid-column: 1 / 2 !important;
	grid-row: 1 !important;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: start !important;
	height: 100% !important;
}

.cky-btn-close img {
	width: 1.5rem !important;
	height: 1.5rem !important;
}

.cky-preference-body-wrapper {
	padding: unset !important;
	overflow: unset !important;
}

.cky-preference-content-wrapper {
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	font-weight: 400 !important;
	display: grid !important;
	grid-template-columns: repeat(6, 1fr) !important;
	gap: 1.25rem !important;
	padding: 0.5rem 0 5.75rem 0 !important;
}
.cky-preference-content-wrapper p {
	grid-column: 3 / 7 !important;
	font-size: 1rem !important;
	line-height: 1.5rem !important;
	font-weight: 400 !important;
}

.cky-always-active {
	display: none !important;
}

.cky-accordion-wrapper {
	display: flex !important;
	flex-direction: column !important;
	margin-bottom: 0 !important;
}

.cky-accordion .cky-accordion-item {
	margin-top: unset !important;
	padding: 1.5rem 0 !important;
	border-top: 1px solid var(--border-colors--dark-grey) !important;
}
.cky-accordion:last-child .cky-accordion-item {
	border-bottom: 1px solid var(--border-colors--dark-grey) !important;
}

.cky-accordion-header .cky-accordion-btn {
	font-weight: 400 !important;
	font-size: 1.25rem !important;
	line-height: 1.75rem !important;
}

.cky-accordion-header-des {
	font-size: 1rem !important;
	font-weight: 400 !important;
	line-height: 1.5rem !important;
	margin: 0.5rem 0 0 0 !important;
}

.cky-switch input[type="checkbox"] {
	border-radius: 0.25rem !important;
	height: 24px !important;
	width: 46px !important;
}

.cky-switch input[type="checkbox"]:before {
	background-color: var(--background-colors--medium-grey) !important;
	border-radius: 0.125rem !important;
	width: 20px !important;
	height: 20px !important;
}

.cky-switch input[type="checkbox"]:checked:before {
	-webkit-transform: translateX(22px) !important;
	-ms-transform: translateX(22px) !important;
	transform: translateX(22px) !important;
	background-color: white !important;
}

.cky-footer-shadow {
	display: none !important;
}

.cky-prefrence-btn-wrapper {
	padding: 2rem 0 0 0 !important;
	display: flex !important;
	flex-direction: row-reverse !important;
	column-gap: 1rem !important;
}
.cky-prefrence-btn-wrapper .cky-btn {
	width: auto !important;
	font-size: 1rem !important;
}

.cky-btn.cky-btn-preferences {
	padding: 0 !important;
}

.video-placeholder-normal {
	display: none !important;
}

[data-cky-tag="detail-powered-by"] {
	display: none !important;
}

@media only screen and (max-width: 767px) {
	.cky-box-bottom-right {
		bottom: 0rem !important;
		right: 0rem !important;
	}
	.cky-consent-container {
		width: 100% !important;
		min-width: unset !important;
	}
	.cky-preference-center {
		width: 100% !important;
		padding: 1.25rem !important;
	}
	.cky-preference-header .cky-preference-title {
		font-size: 1.5rem !important;
		line-height: 2rem !important;
		align-self: start !important;
	}
	.cky-btn-close {
		align-self: end !important;
	}
	.cky-preference-header {
		display: flex !important;
		flex-direction: column-reverse !important;
	}
	.cky-preference-content-wrapper {
		display: block !important;
		padding-bottom: 2rem !important;
	}
	.cky-accordion-header .cky-accordion-btn {
		font-size: 1rem !important;
		line-height: 1.5rem !important;
	}

	.cky-accordion .cky-accordion-item {
		padding: 1.25rem 0 !important;
	}
	.cky-prefrence-btn-wrapper {
		display: flex !important;
		flex-direction: column !important;
		row-gap: 1rem !important;
	}
}

@media only screen and (max-width: 440px) {
	.cky-custom-brand-logo-wrapper,
	.cky-notice .cky-title,
	.cky-notice-des,
	.cky-notice-btn-wrapper {
		padding: unset !important;
	}
	.cky-btn {
		width: unset !important;
	}
	.cky-notice-btn-wrapper {
		flex-direction: row !important;
	}
}
